<div role="main" class="main">
	<!-- start: Breadcrumb-->
	<section class="page-header page-header-modern bg-color-dark-scale-5 page-header-md">
		<div class="container">
			<div class="row">

				<div class="col-md-12 align-self-center p-static order-2 text-left">

					<h1 class="text-light font-weight-bold text-8">About Us</h1>
					<!--<span class="sub-title text-dark-scale-1">Check out our Latest News!</span>-->

				</div>

				<div class="col-md-12 align-self-center order-1">

					<ul class="breadcrumb d-block text-left">
						<li><a href="/">Home</a></li>
						<li class="active">Blog</li>
					</ul>
					
				</div>
				
			</div>
		</div>
	</section>
	<!-- end: Breadcrumb-->

	<div class="container">
		<div class="row">
			<div class="col-md-12">
				<h2>Muzikus</h2>
			</div>
			<div class="col-md-12">
				<p class="lead">
					<strong>MÜZİKUS</strong> is one of the first founded student clubs in Sabanci University. With continuous voluntary participation of its members and administration, it is one of the most active clubs in the university.
					<br><br>
					Since its establishment, <strong>MÜZİKUS</strong> hosted and organised many concerts and parties in which bands, both from within the club and also from other universities, performed. Projects, including choirs and orchestras,  which has been arisen by the members of the club are highly recognized not only inside the campus but also in a wider range.
					<br><br>
					<strong>MÜZİKUS</strong> also provides lessons for many different kinds of instruments. Piano, classic/acoustic/electric/bass guitar, drums, percussions, violin and trumpet are some examples for the lessons available. Instructors are highly experienced and academically successful. 
					<br><br>
					Aim of <strong>MÜZİKUS</strong> is to be involved in every musical activity in Sabanci University and this aim expands as time goes on with the mentality for achieving the success by caring much about "Musical Quality and Universality."
				</p>
			</div>						
		</div>
	</div>
	<div class="container">
		<div class="row">
			<div class="col-md-12">
				<h2>Muzikus <strong>Alfonso</strong></h2>
			</div>
			<div class="col-md-12">
				<p class="lead">
					<strong>MUZIKUS</strong> Alfonso, also known as Muzikus Management System, is a tool and a social networking platform to support and increase the productivity of the music club. It is developed by Yagiz Nizipli.
				</p>
			</div>
		</div>
	</div>
</div>