<div role="main" class="main">
	<!-- start: Breadcrumb-->
	<section class="page-header page-header-modern bg-color-dark-scale-5 page-header-md">
		<div class="container">
			<div class="row">

				<div class="col-md-12 align-self-center p-static order-2 text-left">

					<h1 class="text-light font-weight-bold text-8">Bands</h1>
					<span class="sub-title text-dark-scale-1">Read more about former <strong>Muzikus</strong> bands!</span>

				</div>

				<div class="col-md-12 align-self-center order-1">

					<ul class="breadcrumb d-block text-left">
						<li><a href="/">Home</a></li>
						<li>Music</li>
						<li>Bands</li>
					</ul>
					
				</div>
				
			</div>
		</div>
	</section>
	<!-- end: Breadcrumb-->

	<div class="container">
		
		<div class="row">
			<div class="col-md-12">
				<div class="blog-posts">
					
					<!-- Geeva -->
					<article class="post post-medium">
						<div class="row mb-3">
							<div class="col-lg-5">
								<div class="post-image">
									<a href="blog-post.html">
										<img src="/bands/geeva.jpg" class="img-fluid img-thumbnail img-thumbnail-no-borders rounded-0" alt="" />
									</a>
								</div>
							</div>
							<div class="col-lg-7">
								<div class="post-content">
									<h2 class="font-weight-semibold text-5 line-height-4 mb-2">Geeva Flava</h2>
								</div>
							</div>
						</div>
					</article>
					<!-- Moobs -->
					<article class="post post-medium">
						<div class="row mb-3">
							<div class="col-lg-5">
								<div class="post-image">
									<a href="blog-post.html">
										<img src="/bands/Moobs.jpg" class="img-fluid img-thumbnail img-thumbnail-no-borders rounded-0" alt="" />
									</a>
								</div>
							</div>
							<div class="col-lg-7">
								<div class="post-content">
									<h2 class="font-weight-semibold text-5 line-height-4 mb-2">Moobs</h2>
									
									<p>
										Moobs, is an Indie Rock/Alternative Rock band formed by four musicians in 2012. By recruiting one more guitarist from the university, Moobs leveled the musical quality up and became  one of the most significant bands of Müzikus. With Caner Özcan on vocals, Mert Tacir on drums, Kaan Korkut on bass guitar, Murat Mustafa Tunç and Koray Nizamoğlu on electric guitars, this energetic band performed headliner on Sabancı University’s Spring Festival: ‘’Offtown Festival’’, getting recognition. Band is influenced by bands like Arctic Monkeys, Miles Kane and The Black Keys. With thier own unique interpretation  Moobs’ aim is to give the audience  a wonderful  musical experience. Band also performed at Rock’n Coke 2013 on City Stage (Şehir Sahnesi).
									</p>
									<p class="mb-0">
										<strong>YouTube:</strong> <a href="http://www.youtube.com/moobsofficial">youtube.com/moobsofficial</a><br>
										<strong>Facebook:</strong> <a href="https://www.facebook.com/MoobsOfficial">facebook.com/MoobsOfficial</a>
									</p>
								</div>
							</div>
						</div>
					</article>
					<!-- JetPack -->
					<article class="post post-medium">
						<div class="row mb-3">
							<div class="col-lg-5">
								<div class="post-image">
									<a href="blog-post.html">
										<img src="/bands/JetPack.jpg" class="img-fluid img-thumbnail img-thumbnail-no-borders rounded-0" alt="" />
									</a>
								</div>
							</div>
							<div class="col-lg-7">
								<div class="post-content">
									<h2 class="font-weight-semibold text-5 line-height-4 mb-2">JetPack</h2>
									<p class="mb-0">
										As a newly formed band in October, Jet Pack is one of  the amateur bands of Müzikus consisting of Yankı Akoğlu (vocals), Güven Aksın (guitar), Burak Soner (trumpet-guitar-keyboards), Mert Çapan (bass guitar) and Nedim Sever (drums). JetPack’s repertoire consists of songs from artists like Paloma Faith, Coldplay, Selah Sue, Two Door Cinema Club, Elbow etc.
									</p>
								</div>
							</div>
						</div>
					</article>
					<!-- Ledbetter -->
					<article class="post post-medium">
						<div class="row mb-3">
							<div class="col-lg-5">
								<div class="post-image">
									<a href="blog-post.html">
										<img src="/bands/Ledbetter.jpg" class="img-fluid img-thumbnail img-thumbnail-no-borders rounded-0" alt="" />
									</a>
								</div>
							</div>
							<div class="col-lg-7">
								<div class="post-content">
									<h2 class="font-weight-semibold text-5 line-height-4 mb-2">Ledbetter</h2>
									<p>
										Band was formed in 2008 as a Pearl Jam Tribute Project and played like that for a year. Later, with a repertoire consisting of  Pop, Pop-Rock, Rock and R&B; Ledbetter performed live at many different places like Balans Brau, Factory, Pulp and Bronx Küçük Beyoğlu. Ledbetter also performed numerous times at festivals of Sabancı University, Yıldız Teknik University, Ted Istanbul College, Boğaziçi University’s Taşoda and on numerous other sports festivals. Ledbetter also performed as an opening-act in loads of  festivals for succesful bands like Athena and Yüksek Sadakat. In March 2012 the band attended a TV-programme of TRT Müzik: "Aynadan Yansıyanlar" as a cover band. From then on, they worked with Erhan Güleryüz on some recording sessions for one and a half months before the programme. Band’s first video was shot with Erhan Güleryüz in order to be broadcasted on TRT Müzik’s "Aynadan Yansıyanlar". With astonishing performances, Ledbetter gave the audiences an energetic time and now, the band has numerous fans.
									</p>
									<p>
									Coşkun Büyüksungur (vocals+guitar), Koray Nizamoğlu (back vocals+guitar), Deniz Gülnar (bass guitar), Mustafa Kocatürk(drums)
									</p>
									<p class="mb-0">
										<strong>Facebook:</strong> <a href="https://www.facebook.com/ledbetteristanbul">facebook.com/ledbetteristanbul</a>
										<br>
										<strong>Twitter:</strong> <a href="https://twitter.com/LEDBETTERist">twitter.com/LEDBETTERist</a>
										<br>
										<strong>Youtube:</strong> <a href="http://www.youtube.com/ledbetteristanbul">youtube.com/ledbetteristanbul</a>
										<br>
										<strong>SoundCloud:</strong> <a href="https://soundcloud.com/ledbetteristanbul">soundcloud.com/ledbetteristanbul</a>
										
									</p>
								</div>
							</div>
						</div>
					</article>
					<!-- The P -->
					<article class="post post-medium">
						<div class="row mb-3">
							<div class="col-lg-5">
								<div class="post-image">
									<a href="blog-post.html">
										<img src="/bands/The P.jpg" class="img-fluid img-thumbnail img-thumbnail-no-borders rounded-0" alt="" />
									</a>
								</div>
							</div>
							<div class="col-lg-7">
								<div class="post-content">
									<h2 class="font-weight-semibold text-5 line-height-4 mb-2">The P</h2>
									<p class="mb-0">
										The P was formed in Fall 2011 and since then the band had been through a couple of line-up changes. Band, distinguishes itself from the other bands as the one and only Progressive rock/ metal Band of Müzikus and performs on Müzikus’ live events.
									</p>
									<p>
										Emre Yönel – Vocals, Metehan Tutar - Electric-Acoustic Guitar / Back Vocals, Cihan Sarıbaş- Electric-Acoustic Guitar, Nihat Berk Özcan - Bass Guitar, İpek Bozkurt – Keyboards, Kaan Kara - Drums
									</p>
								</div>
							</div>
						</div>
					</article>
					<!-- Former Muzikus Bands-->
					<article class="post post-medium">
						<div class="row mb-3">
							<div class="col-lg-5">
								<div class="post-image">
									<a href="blog-post.html">
										<img src="/bands/High Five.jpg" class="img-fluid img-thumbnail img-thumbnail-no-borders rounded-0" alt="" />
									</a>
								</div>
							</div>
							<div class="col-lg-7">
								<div class="post-content">
									<h2 class="font-weight-semibold text-5 line-height-4 mb-2">Former Muzikus Bands</h2>
									<p class="mb-0">
										Shuffle<br>
										Add-Drop<br>
										NaneL.<br>
										String g;<br>
										Banner Runner<br>
										High Five<br>
										The Loop<br>
										Perfect Stranger<br>
										The M8t
									</p>
								</div>
							</div>
						</div>
					</article>

				</div>
			</div>
		</div>

	</div>
		
</div>