<div role="main" class="main">

	<section class="page-top">
		<div class="container">
			<div class="row">
				<div class="span12">
					<ul class="breadcrumb">
						<li><%= link_to "Home", root_path %> <span class="divider">/</span></li>
						<li class="active">Bands</li>
					</ul>
				</div>
			</div>
			<div class="row">
				<div class="span12">
					<h2>Bands</h2>
				</div>
			</div>
		</div>
	</section>

	<div class="container">

		<h2>Muzikus Bands</h2>

		<div class="row">
		<div class="span12">
				<div class="blog-posts">
					<article class="post post-medium-image">
						<div class="row">
							<div class="span4">
								<div class="post-image">
												<div class="flexslider flexslider-center-mobile flexslider-simple" data-plugin-options='{"controlNav":false, "animation":"slide", "slideshow": false, "maxVisibleItems": 1}'>
													<ul class="slides">
														<li>
															<img class="img-rounded" src="bands/Moobs.jpg" alt="">
														</li>
													</ul>
												</div>
											</div>
								
							</div>
							<div class="span8">
								<h2>Moobs</h2>
								<p>
									Moobs, is an Indie Rock/Alternative Rock band formed by four musicians in 2012. By recruiting one more guitarist from the university, Moobs leveled the musical quality up and became  one of the most significant bands of Müzikus. With Caner Özcan on vocals, Mert Tacir on drums, Kaan Korkut on bass guitar, Murat Mustafa Tunç and Koray Nizamoğlu on electric guitars, this energetic band performed headliner on Sabancı University’s Spring Festival: ‘’Offtown Festival’’, getting recognition. Band is influenced by bands like Arctic Monkeys, Miles Kane and The Black Keys. With thier own unique interpretation  Moobs’ aim is to give the audience  a wonderful  musical experience. Band also performed at Rock’n Coke 2013 on City Stage (Şehir Sahnesi).
								</p>
								<p>
									<strong>YouTube:</strong> <a href="http://www.youtube.com/moobsofficial">youtube.com/moobsofficial</a><br>
									<strong>Facebook:</strong> <a href="https://www.facebook.com/MoobsOfficial">facebook.com/MoobsOfficial</a>
								</p>
							</div>
						</div>
				</div>
			</div>
			<div class="span12">
				<div class="blog-posts">
					<article class="post post-medium-image">
						<div class="row">
							<div class="span4">
								<div class="post-image">
												<div class="flexslider flexslider-center-mobile flexslider-simple" data-plugin-options='{"controlNav":false, "animation":"slide", "slideshow": false, "maxVisibleItems": 1}'>
													<ul class="slides">
														<li>
															<img class="img-rounded" src="bands/JetPack.jpg" alt="">
														</li>
													</ul>
												</div>
											</div>
								
							</div>
							<div class="span8">
								<h2>JetPack</h2>
								<p>
									As a newly formed band in October, Jet Pack is one of  the amateur bands of Müzikus consisting of Yankı Akoğlu (vocals), Güven Aksın (guitar), Burak Soner (trumpet-guitar-keyboards), Mert Çapan (bass guitar) and Nedim Sever (drums). JetPack’s repertoire consists of songs from artists like Paloma Faith, Coldplay, Selah Sue, Two Door Cinema Club, Elbow etc.
								</p>
							</div>
						</div>
				</div>
			</div>
			<div class="span12">
				<div class="blog-posts">
					<article class="post post-medium-image">
						<div class="row">
							<div class="span4">
								<div class="post-image">
												<div class="flexslider flexslider-center-mobile flexslider-simple" data-plugin-options='{"controlNav":false, "animation":"slide", "slideshow": false, "maxVisibleItems": 1}'>
													<ul class="slides">
														<li>
															<img class="img-rounded" src="bands/Ledbetter.jpg" alt="">
														</li>
													</ul>
												</div>
											</div>
								
							</div>
							<div class="span8">
								<h2>Ledbetter</h2>
								<p>
									Band was formed in 2008 as a Pearl Jam Tribute Project and played like that for a year. Later, with a repertoire consisting of  Pop, Pop-Rock, Rock and R&B; Ledbetter performed live at many different places like Balans Brau, Factory, Pulp and Bronx Küçük Beyoğlu. Ledbetter also performed numerous times at festivals of Sabancı University, Yıldız Teknik University, Ted Istanbul College, Boğaziçi University’s Taşoda and on numerous other sports festivals. Ledbetter also performed as an opening-act in loads of  festivals for succesful bands like Athena and Yüksek Sadakat. In March 2012 the band attended a TV-programme of TRT Müzik: "Aynadan Yansıyanlar" as a cover band. From then on, they worked with Erhan Güleryüz on some recording sessions for one and a half months before the programme. Band’s first video was shot with Erhan Güleryüz in order to be broadcasted on TRT Müzik’s "Aynadan Yansıyanlar". With astonishing performances, Ledbetter gave the audiences an energetic time and now, the band has numerous fans.
								</p>
								<p>
								Coşkun Büyüksungur (vocals+guitar), Koray Nizamoğlu (back vocals+guitar), Deniz Gülnar (bass guitar), Mustafa Kocatürk(drums)
								</p>
								<p>
									<strong>Facebook:</strong> <a href="https://www.facebook.com/ledbetteristanbul">facebook.com/ledbetteristanbul</a>
									<br>
									<strong>Twitter:</strong> <a href="https://twitter.com/LEDBETTERist">twitter.com/LEDBETTERist</a>
									<br>
									<strong>Youtube:</strong> <a href="http://www.youtube.com/ledbetteristanbul">youtube.com/ledbetteristanbul</a>
									<br>
									<strong>SoundCloud:</strong> <a href="https://soundcloud.com/ledbetteristanbul">soundcloud.com/ledbetteristanbul</a>
									
								</p>
							</div>
						</div>
				</div>
			</div>
			
			<div class="span12">
				<div class="blog-posts">
					<article class="post post-medium-image">
						<div class="row">
							<div class="span4">
								<div class="post-image">
												<div class="flexslider flexslider-center-mobile flexslider-simple" data-plugin-options='{"controlNav":false, "animation":"slide", "slideshow": false, "maxVisibleItems": 1}'>
													<ul class="slides">
														<li>
															<img class="img-rounded" src="bands/The P.jpg" alt="">
														</li>
													</ul>
												</div>
											</div>
								
							</div>
							<div class="span8">
								<h2>The P</h2>
								<p>
									The P was formed in Fall 2011 and since then the band had been through a couple of line-up changes. Band, distinguishes itself from the other bands as the one and only Progressive rock/ metal Band of Müzikus and performs on Müzikus’ live events.
								</p>
								<p>
									Emre Yönel – Vocals, Metehan Tutar - Electric-Acoustic Guitar / Back Vocals, Cihan Sarıbaş- Electric-Acoustic Guitar, Nihat Berk Özcan - Bass Guitar, İpek Bozkurt – Keyboards, Kaan Kara - Drums
								</p>
							</div>
						</div>
				</div>
			</div>

			<div class="span12">
				<div class="blog-posts">
					<article class="post post-medium-image">
						<div class="row">
							<div class="span4">
								<div class="post-image">
												<div class="flexslider flexslider-center-mobile flexslider-simple" data-plugin-options='{"controlNav":false, "animation":"slide", "slideshow": false, "maxVisibleItems": 1}'>
													<ul class="slides">
														<li>
															<img class="img-rounded" src="bands/High Five.jpg" alt="">
														</li>
													</ul>
												</div>
											</div>
								
							</div>
							<div class="span8">
								<h2>Former Muzikus Bands</h2>
								<p>
									Shuffle<br>
									Add-Drop<br>
									NaneL.<br>
									String g;<br>
									Banner Runner<br>
									High Five<br>
									The Loop<br>
									Perfect Stranger<br>
									The M8t
								</p>
							</div>
						</div>
				</div>
			</div>


		</div>
		
	</div>

</div>