<div role="main" class="main">

	<section class="page-top">
		<div class="container">
			<div class="row">
				<div class="span12">
					<ul class="breadcrumb">
						<li><%= link_to "Home", root_path %> <span class="divider">/</span></li>
						<li class="active">Events</li>
					</ul>
				</div>
			</div>
			<div class="row">
				<div class="span12">
					<h2>Events</h2>
				</div>
			</div>
		</div>
	</section>

	<div class="container">

		<h2>Muzikus</h2>

		<div class="row">
			<div class="span12">
				<p class="lead">Coming Soon.
				</p>
				<!--
				<iframe src="https://calendar.google.com/calendar/embed?showTitle=0&amp;showNav=0&amp;showDate=0&amp;showPrint=0&amp;showTabs=0&amp;showCalendars=0&amp;showTz=0&amp;mode=AGENDA&amp;height=600&amp;wkst=2&amp;bgcolor=%23FFFFFF&amp;src=yaprakcaglar%40sabanciuniv.edu&amp;color=%232952A3&amp;ctz=Europe%2FIstanbul" style="border-width:0" width="800" height="600" frameborder="0" scrolling="no"></iframe>
  		-->
		</div>

	</div>

</div>
