<div role="main" class="main">

	<section class="page-top">
		<div class="container">
			<div class="row">
				<div class="span12">
					<ul class="breadcrumb">
						<li><%= link_to "Home", root_path %> <span class="divider">/</span></li>
						<li class="active">Faculty</li>
					</ul>
				</div>
			</div>
			<div class="row">
				<div class="span12">
					<h2>Faculty</h2>
				</div>
			</div>
		</div>
	</section>

	<div class="container">

		<h2>Muzikus Faculty</h2>

		<div class="row">
			<div class="span12">
				<p class="lead">
					Muzikus Faculty aims to create an environment that makes it easier and more entertaining to learn music for the university students. The music lessons provided by the faculty are listed below. If you need information about an instructor or a lesson, you can reach the contact related to that lesson.
				</p>
			</div>
			<div class="span6">
				<h3>Classical-Electric Guitar</h3>
				<p>
					<strong>Instructor:</strong> Hakan Gürpınar<br>
					<strong>Room:</strong> Ders odasi<br>
				</p>
				<h3>Bass Guitar</h3>
				<p>
					<strong>Instructor:</strong> Mert "BassCat" Ertunç<br>
					<strong>Room:</strong>Ders odasi<br>
				</p>
				<h3>Drums</h3>
				<p>
					<strong>Instructor:</strong> Emre Yıldız - Burak Aksar<br>
					<strong>Room:</strong> Drums Studio<br>
				</p>

				</div>
				<div class="span6">

					<h3>Piano - I</h3>
					<p>
						<strong>Instructor:</strong> Hatice Mertcan - Cansu Ulker<br>
						<strong>Room:</strong> Piano Room 1<br>
					</p>
				<h3>Vocals</h3>
				<p>
					<strong>Instructor:</strong> Defne Koldas - Rabia Tuncbilek<br>
					<strong>Room:</strong> Vocals Room<br>
				</p>
				<h3>Cello</h3>
				<p>
					<strong>Instructor:</strong> Çiğdem Alkaya<br>
					<strong>Room:</strong> Ders odasi<br>
				</p>
				</div>

		</div>

	</div>

</div>
