<div role="main" class="main">

	<section class="page-top">
		<div class="container">
			<div class="row">
				<div class="span12">
					<ul class="breadcrumb">
						<li><%= link_to "Home", root_path %> <span class="divider">/</span></li>
						<li class="active">Faculty</li>
					</ul>
				</div>
			</div>
			<div class="row">
				<div class="span12">
					<h2>Faculty</h2>
				</div>
			</div>
		</div>
	</section>

	<div class="container">

		<h2>Muzikus Faculty</h2>

		<div class="row">
			<div class="span12">
				<p class="lead">
					Muzikus Faculty aims to create an environment that makes it easier and more entertaining to learn music for the university students. The music lessons provided by the faculty are listed below. If you need information about an instructor or a lesson, you can reach the contact related to that lesson. 
				</p>
			</div>
			<div class="span6">
				<h3>Classical-Electric Guitar</h3>
				<p>
					<strong>Instructor:</strong> Hakan Gürpınar<br>
					<strong>Room:</strong> Muzikus Studio<br>
					<strong>Contact:</strong> Yağız Andaç (yagizandac[at]sabanciuniv[dot]edu)
				</p>
				<h3>Bass Guitar</h3>
				<p>
					<strong>Instructor:</strong> Mert "BassCat" Ertunç<br>
					<strong>Room:</strong> Muzikus Studio<br>
					<strong>Contact:</strong> Çağrı Karaoğlu (hkaraoglu[at]sabanciuniv[dot]edu)
				</p>
				<h3>Drums</h3>
				<p>
					<strong>Instructor:</strong> Emre Yıldız<br>
					<strong>Room:</strong> Drums Studio<br>
					<strong>Contact:</strong> Kaan Kara (kaankara[at]sabanciuniv[dot]edu)
				</p>
				<h3>Piano - I</h3>
				<p>
					<strong>Instructor:</strong> Hatice Mertcan<br>
					<strong>Room:</strong> Piano Room - I<br>
					<strong>Contact:</strong> İskender Yalçınkaya (iyalcinkaya[at]sabanciuniv[dot]edu)
				</p>
				<h3>Piano - II</h3>
				<p>
					<strong>Instructor:</strong> Cem Dinler<br>
					<strong>Room:</strong> Piano Room - II<br>
					<strong>Contact:</strong> İskender Yalçınkaya (iyalcinkaya[at]sabanciuniv[dot]edu)
				</p>
				</div>
				<div class="span6">
				<h3>Vocals</h3>
				<p>
					<strong>Instructor:</strong> Begüm Günceler<br>
					<strong>Room:</strong> Vocals Room<br>
					<strong>Contact:</strong> Ali Yaltıraklı (ayaltirakli[at]sabanciuniv[dot]edu)
				</p>
				<h3>Cello</h3>
				<p>
					<strong>Instructor:</strong> Çiğdem Alkaya<br>
					<strong>Room:</strong> Vocals Room<br>
					<strong>Contact:</strong> Meryem Sena Biçer (meryemsenab[at]sabanciuniv[dot]edu)
				</p>
				<h3>Violin</h3>
				<p>
					<strong>Instructor:</strong> Pelin Bolgül<br>
					<strong>Room:</strong> Vocals Room<br>
					<strong>Contact:</strong> Doruk Kaan Bayburtlu (dorukkaan[at]sabanciuniv[dot]edu)
				</p>
				<h3>Trumpet</h3>
				<p>
					<strong>Instructor:</strong> TBA<br>
					<strong>Room:</strong> Clubs Room<br>
					<strong>Contact:</strong> Burak Soner (buraksoner[at]sabanciuniv[dot]edu)
				</p>
				<h3>Flute</h3>
				<p>
					<strong>Instructor:</strong> TBA<br>
					<strong>Room:</strong> Clubs Room<br>
					<strong>Contact:</strong> Beste Seymen (besteseymen[at]sabanciuniv[dot]edu)
				</p>
				<h3>Saxophone</h3>
				<p>
					<strong>Instructor:</strong> Duru Tuna<br>
					<strong>Room:</strong> Clubs Room<br>
					<strong>Contact:</strong> Nihat Berk Özcan (nbozcan[at]sabanciuniv[dot]edu)
				</p>
				</div>
			
		</div>
		
	</div>

</div>