<div role="main" class="main">
	<section class="page-header">
		<div class="container">
			<div class="row">
				<div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
					<ul class="breadcrumb">
						<li><%= link_to "HOME", root_path %></li>
						<li class="active">GALLERY</li>
					</ul>
				</div>
			</div>
			<div class="row">
				<div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
					<h1>Gallery</h1>
				</div>
			</div>
		</div>
	</section>
	<div class="container">
            
        <% @popular.each do |insta|%>
           
        	<div class="thumbnail" style="float:left;width:40%;margin:10px">
            	<%= image_tag insta.images.standard_resolution.url %>
                	<div class="caption" >
                    	<%= insta.caption.text%>
                	</div>
            </div>
        <% end %>
            
            
       
  </div>

</div>
		
