<div role="main" class="main">

	<section class="page-top">
		<div class="container">
			<div class="row">
				<div class="span12">
					<ul class="breadcrumb">
						<li><%= link_to "Home", root_path %> <span class="divider">/</span></li>
						<li class="active">Gallery</li>
					</ul>
				</div>
			</div>
			<div class="row">
				<div class="span12">
					<h2>Muzikus Photo Gallery</h2>
				</div>
			</div>
		</div>
	</section>

	<div class="container">
					
			<div class="row">
				<!--<% @list.each #do |info| %>
					<ul class="portfolio-list sort-destination" data-sort-id="portfolio">
						<li class="span3 isotope-item websites">
							<div class="portfolio-item">
								<a href="<%= #FlickRaw.url_b(info) %>"  target="_blank" class="thumb-info">
									<img alt="" style="width: 280px; height: 180px;" src="<%= #FlickRaw.url_b(info) %>">
								<span class="thumb-info-title">
										<span class="thumb-info-inner"><%= info.title %></span>
									</span>
									<span class="thumb-info-action">
										<span title="Universal" href="#" class="thumb-info-action-icon"><i class="icon-link"></i></span>
									</span>
								</a>
							</div>
						</li>
					</ul>
				<% #end %> -->
				<p>We will be ready soon.</p>
			</div>
			
		</div>
		
	</div>

</div>