<div role="main" class="main">

	<section class="page-top">
		<div class="container">
			<div class="row">
				<div class="span12">
					<ul class="breadcrumb">
						<li><%= link_to "Home", root_path %> <span class="divider">/</span></li>
						<li class="active">Gallery</li>
					</ul>
				</div>
			</div>
			<div class="row">
				<div class="span12">
					<h2>Gallery</h2>
				</div>
			</div>
		</div>
	</section>

	<div class="container">

		<h2>Muzikus</h2>

		<div class="row">
			<div class="span12">
				<p class="lead">
				
				 Instagram Lookup
				</p>
               
               
			</div>
        </div>      
       
            
        <% @popular.each do |insta|%>
           
        	<div class="thumbnail" style="float:left;width:40%;margin:10px">
            	<%= image_tag insta.images.standard_resolution.url %>
                	<div class="caption" >
                    	<%= insta.caption.text%>
                	</div>
            </div>
        <% end %>
            
            
       
  </div>

</div>
		
