<style>
	.thumb-info .thumb-info-title {
		text-transform: none;
	}
	.thumb-info-inner a {
	}
</style>

<div role="main" class="main">
	<!-- start: Breadcrumb-->
	<section class="page-header page-header-modern bg-color-dark-scale-5 page-header-md">
		<div class="container">
			<div class="row">

				<div class="col-md-12 align-self-center p-static order-2 text-left">

					<h1 class="text-light font-weight-bold text-8">Gallery</h1>
					<span class="sub-title text-dark-scale-1">View more on <a href="http://www.instagram.com/muzikussabanci" target="_blank"><strong>Muzikus</strong></a> Instagram account.</span>

				</div>

				<div class="col-md-12 align-self-center order-1">

					<ul class="breadcrumb d-block text-left">
						<li><a href="/">Home</a></li>
						<li>Gallery</li>
					</ul>
					
				</div>
				
			</div>
		</div>
	</section>
	<!-- end: Breadcrumb-->
	<div class="container">
		<ul hidden class="nav nav-pills sort-source" data-sort-id="portfolio" data-option-key="filter" data-plugin-options="{'layoutMode': 'masonry', 'filter': '*'}"></ul>
		<div class="sort-destination-loader sort-destination-loader-showing">
			<div class="portfolio-list sort-destination" data-sort-id="portfolio">
				<% @popular.each do |insta|%>
					<div class="col-sm-6 col-md-4 isotope-item">
						<div class="portfolio-item">
							<a href="#">
								<span class="thumb-info thumb-info-centered-info thumb-info-no-borders">
									<span class="thumb-info-wrapper">
										<%= image_tag insta.images.standard_resolution.url, class: 'img-fluid', html:{alt: ''} %>
										<span class="thumb-info-title">
											<span class="thumb-info-inner"><%= insta.caption.text %></span>
										</span>
									</span>
								</span>
							</a>
						</div>
					</div>
				<% end %>
			</div>
		</div>
  </div>
</div>

<script>
	String.prototype.parseURL = function() {
		return this.replace(/[A-Za-z]+:\/\/[A-Za-z0-9-_]+\.[A-Za-z0-9-_:%&~\?\/.=]+/g, function(url) {
			return url.link(url);
		});
	};
	String.prototype.parseUsername = function() {
		return this.replace(/[@]+[A-Za-z0-9-_.*]+/g, function(u) {
			var username = u.replace("@","")
			return u.link("https://www.instagram.com/"+username);
		});
	};
	String.prototype.parseHashtag = function() {
		return this.replace(/[#]+[A-Za-z0-9-_]+/g, function(t) {
			var tag = t.replace("#","")
			return t.link("https://www.instagram.com/explore/tags/"+tag);
		});
	};

	$(function(){
		$('.thumb-info-title').each(function(i, obj){
			obj = $(obj);
			obj.html(obj.html().parseURL().parseUsername().parseHashtag());
		})

		$('.thumb-info-inner a').on('click', function(e) {
			e.preventDefault();

			window.open(this.href, '_blank');
		})
	})
</script>
		
