<div role="main" class="main">
	<!-- start: Breadcrumb-->
	<section class="page-header page-header-modern bg-color-dark-scale-5 page-header-md">
		<div class="container">
			<div class="row">

				<div class="col-md-12 align-self-center p-static order-2 text-left">

					<h1 class="text-light font-weight-bold text-8">How to, Alfonso?</h1>

				</div>

				<div class="col-md-12 align-self-center order-1">

					<ul class="breadcrumb d-block text-left">
						<li><a href="/">Home</a></li>
						<li>Alfonso</li>
						<li>How To?</li>
					</ul>
					
				</div>
				
			</div>
		</div>
	</section>
	<!-- end: Breadcrumb-->

	<div class="container">

		<h2>Hello master, welcome to <strong>Alfonso</strong>!</h2>

		<div class="row">
			<div class="col-md-12">
				<p class="lead">
					
				</p>
				<p>
					Alfonso is an online environment that is integrated with Google. Alfonso makes it easier to reserve your spot in Muzikus studios and rooms. 
				</p>
				<p>
					To reserve your spot, you should be:
					<ol>
						<li><strong>A Sabancı University Member.</strong></li>
						<li><strong>A Muzikus Member.</strong></li>
					</ol>
				</p>
				<p>
					If you have both specifications, I allow you to reserve!
				</p>
				<p>
					From that point on, you can click the "Reserve" tab under the "Alfonso" dropdown menu and fill in the necessary information. The rules of reserving are:
					<ol>
						<li>You cannot get a reservation more than 2 hours in one day.</li>
						<li>You must call the room manager (whose information is provided in the reservation page) and retrieve the room key by giving your SU ID Card as a pledge. </li>
						<li>You cannot drink or smoke inside the studios and rooms.</li>
						<li>You should rearrange the room as it was when you entered, else you may be banned from using the Muzikus studios.</li>
						<li>You can only be inside the room between the hours you specified. After that you should immediately leave the room, lock the room and give the room keys back to the room manager.</li>
					</ol>
				</p>
				<p>
					Have fun using the Muzikus Studios!
				</p>
				<p>
					Best,<br>
					Alfonso.
				</p>
			</div>
			
		</div>
		
	</div>

</div>