<div role="main" class="main">

	<section class="page-top">
		<div class="container">
			<div class="row">
				<div class="span12">
					<ul class="breadcrumb">
						<li><%= link_to "Home", root_path %> <span class="divider">/</span></li>
						<li class="active">How to?</li>
					</ul>
				</div>
			</div>
			<div class="row">
				<div class="span12">
					<h2>How to, Alfonso?</h2>
				</div>
			</div>
		</div>
	</section>

	<div class="container">

		<h2>Hello master, welcome to <strong>Alfonso</strong>!</h2>

		<div class="row">
			<div class="span12">
				<p class="lead">
					
				</p>
				<p>
					Alfonso is an online environment that is integrated with Facebook. Alfonso makes it easier to reserve your spot in Muzikus studios and rooms. 
				</p>
				<p>
					To reserve your spot, you should be:
					<ol>
						<li><strong>A Muzikus Member.</strong></li>
						<li><strong>A Facebook Member.</strong></li>
					</ol>
				</p>
				<p>
					If you have both specifications, I allow you to reserve!
				</p>
				<p>
					From that point on, you can click the "Reserve" tab under the "Reservation" dropdown menu and fill in the necessary information. The rules of reserving are:
					<ol>
						<li>You cannot get a reservation more than 3 hours in one day.</li>
						<li>You must call the room manager (whose information is provided in the reservation page) and retrieve the room key by giving your SU ID Card as a pledge. </li>
						<li>You cannot drink or smoke inside the studios and rooms.</li>
						<li>You should rearrange the room as it was when you entered, else you may be banned from using the Muzikus studios.</li>
						<li>You can only be inside the room between the hours you specified. After that you should immediately leave the room, lock the room and give the room keys back to the room manager.</li>
					</ol>
				</p>
				<p>
					You can check the unavailable spots from the "View All" tab under the "Reservation" dropdown menu.
				</p>
				<p>
					Have fun using the Muzikus Studios!
				</p>
				<p>
					Best,<br>
					Alfonso.
				</p>
			</div>
			
		</div>
		
	</div>

</div>