<div role="main" class="main">
    <div id="content" class="content full">

        <div class="slider-container">
            <div class="slider" id="revolutionSlider">
                <ul>
                    <li data-transition="fade" data-slotamount="10" data-masterspeed="300">
                        <img src="img/slides/slide-bg.jpg" data-fullwidthcentering="on" alt="">




                            <div class="caption fade"
                                 data-x="0"
                                 data-y="70"
                                 data-speed="250"
                                 data-start="100"
                                 data-easing="easeOutExpo"><img src="img/slides/slide-concept.png" alt=""></div>

                            <div class="caption fade"
                                data-x="500"
                                data-y="100"
                                data-speed="500"
                                data-start="1000"
                                data-easing="easeOutExpo"><iframe width="500" height="300" src="//www.youtube.com/embed/9zjWpsVnv5I" frameborder="0" allowfullscreen></iframe></div>

                    </li>
                </ul>
            </div>
        </div>

        <div class="home-intro">
            <div class="container">

                <div class="row">
                    <div class="span8">
                        <p>
                            The easiest way to learn more about <em>Müzikus.</em>
                            <span>Register now with your Facebook ID.</span>
                        </p>
                    </div>
                    <div class="span4">
                        <div class="get-started">
                            <%= link_to "Login Now!", '/auth/facebook', id: "sign_in", class: "btn btn-large btn-primary" %>
                            <div class="learn-more">or <%= link_to "learn more", aboutus_path %></div>
                        </div>
                    </div>
                </div>

            </div>
        </div>

        <div class="container">

            <div class="row center">
                <div class="span12">
                    <h2 class="short">Müzikus <strong>Web Page</strong> is completely redesigned.</h2>
                    <p class="featured lead">
                        Easy to use Facebook integration now allows you to share your reservations instantly with your friends.
                    </p>
                </div>
            </div>

        </div>

        <div class="home-concept">
            <div class="container">

                <div class="row center">
                    <span class="sun"></span>
                    <span class="cloud"></span>
                    <div class="span2 offset1">
                        <div class="process-image">
                            <img src="img/home-concept-item-1.png" alt="" />
                        </div>
                        <span class="shadow"></span>
                        <strong>Register</strong>
                    </div>
                    <div class="span2">
                        <div class="process-image">
                            <img src="img/home-concept-item-2.png" alt="" />
                        </div>
                        <span class="shadow"></span>
                        <strong>Reserve</strong>
                    </div>
                    <div class="span2">
                        <div class="process-image">
                            <img src="img/home-concept-item-3.png" alt="" />
                        </div>
                        <span class="shadow"></span>
                        <strong>Play</strong>
                    </div>
                    <div class="span4 offset1">
                        <div class="project-image">
                            <div id="fcSlideshow" class="fc-slideshow">
                                <ul class="fc-slides">
                                    <li><a href="#"><img src="img/projects/homepage-1.png" /></a></li>
                                    <li><a href="#"><img src="img/projects/homepage-2.png" /></a></li>
                                    <li><a href="#"><img src="img/projects/homepage-3.png" /></a></li>
                                    <li><a href="#"><img src="img/projects/homepage-4.png" /></a></li>
                                </ul>
                            </div>
                        </div>
                        <span class="shadow big"></span>
                        <strong class="our-work">Perform</strong>
                    </div>
                </div>

                <hr class="tall" />

            </div>
        </div>

        <div class="container">

            <div class="row">
                <div class="span8">
                    <h2><strong>Features</strong></h2>
                    <div class="row">
                        <div class="span4">
                        <div class="feature-box">
                                <div class="feature-box-icon">
                                    <i class="icon-facebook"></i>
                                </div>
                                <div class="feature-box-info">
                                    <h4 class="shorter">Facebook Login</h4>
                                    <p class="tall">You won't forget about your reservation anymore. Just login with your Facebook ID.</p>
                                </div>
                            </div>


                            <div class="feature-box">
                                <div class="feature-box-icon">
                                    <i class="icon-file"></i>
                                </div>
                                <div class="feature-box-info">
                                    <h4 class="shorter">Cross Browser Compatibility</h4>
                                    <p class="tall">Muzikus Alfonso works perfectly with every browser and mobile device.</p>
                                </div>
                            </div>


                        </div>
                        <div class="span4">
                        <div class="feature-box">
                                <div class="feature-box-icon">
                                    <i class="icon-ok"></i>
                                </div>
                                <div class="feature-box-info">
                                    <h4 class="shorter">Share</h4>
                                    <p class="tall">Share your reservation and Scout information easily with your friends.</p>
                                </div>
                            </div>
                            <div class="feature-box">
                                <div class="feature-box-icon">
                                    <i class="icon-group"></i>
                                </div>
                                <div class="feature-box-info">
                                    <h4 class="shorter">Security</h4>
                                    <p class="tall">User information is encrypted with AES-256 encryption algorithm.</p>
                                </div>
                            </div>


                        </div>
                    </div>
                </div>
                <div class="span4">
                    <h2>who are we?</h2>
                    <div class="accordion" id="accordion">
                        <div class="accordion-group">
                            <div class="accordion-heading">
                                <a class="accordion-toggle" data-toggle="collapse" data-parent="#accordion" href="#collapseOne"><i class="icon-lightbulb"></i> Presidency</a>
                            </div>
                            <div id="collapseOne" class="accordion-body collapse in">
                                <div class="accordion-inner">
                                    <strong>Burak Pahsa</strong>, President<br>
                                    
                                </div>
                            </div>
                        </div>
                        <div class="accordion-group">
                            <div class="accordion-heading">
                                <a class="accordion-toggle" data-toggle="collapse" data-parent="#accordion" href="#collapseTwo"><i class="icon-bell-alt"></i> MYK</a>
                            </div>
                            <div id="collapseTwo" class="accordion-body collapse">
                                <div class="accordion-inner">
                                    <strong>Yaprak Buse Çağlar</strong>, Secretary General
                                    <br>
                                    <strong>Özkan Okan, Uğur Koc</strong>, Vice Presidents
                                    <br>
                                    <strong>Can Berk Taşkın</strong>, Accountant
                                    <br>
                                    <strong>Berkin Özbatır</strong>, Project Coordinator
                                    <br>
                                    <strong>Adnan Can Kıran</strong>, Rooms and Lessons Coordinator
                                    <br>
                                    <strong>Şevval Çalış</strong>, Organisation Commitee Coordinator
                                    <br>
                                    <strong>Jiyan Baran Bükün</strong>, Technical Coordinator
                                    <br>
                                    <strong>Dilara Sarı, Duru Börü</strong>, Communications and Media Coordinator
                                </div>
                            </div>
                        </div>
                        <div class="accordion-group">
                            <div class="accordion-heading">
                                <a class="accordion-toggle" data-toggle="collapse" data-parent="#accordion" href="#collapseThree"><i class="icon-laptop"></i> Developer</a>
                            </div>
                            <div id="collapseThree" class="accordion-body collapse">
                                <div class="accordion-inner">
                                    <strong>Yagiz Nizipli</strong>, Developer
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <hr class="tall" />

            <div class="row center">
                <div class="span12">
                    <h2 class="short">Muzikus <strong>Community</strong></h2>
                    <h4 class="lead tall">Since 1999, our community has grown exponentially.</h4>
                </div>
            </div>


        </div>
    </div>
</div>