<div role="main" class="main">
    <div class="slider-container rev_slider_wrapper" style="height: 700px;">
        <div id="revolutionSlider" class="slider rev_slider" data-plugin-revolution-slider data-plugin-options="{'delay': 9000, 'gridwidth': 800, 'gridheight': 475}">
            <ul>
                <li data-transition="fade">
                    <img src="img/slides/slide-bg.jpg" data-fullwidthcentering="on" alt="">

                    <div class="tp-caption"
                        data-x="-65" 
                        data-y="95"
                        data-start="1000"
                        data-transform_in="x:[300%];opacity:0;s:500;"><img src="img/slides/slide-concept.png" alt=""></div>


                    <div class="tp-caption bottom-label"
                        data-x="400" data-hoffset="0"
                        data-y="100" data-voffset="5"
                        data-start="2000"
                        data-transform_in="y:[100%];opacity:0;s:500;"><iframe width="500" height="300" src="https://www.youtube.com/embed/MFMUWCFXXsg" frameborder="0" allowfullscreen></iframe></div>
                </li>
            </ul>
        </div>
    </div>
    <div class="home-intro">
        <div class="container">

            <div class="row">
                <div class="col-lg-8">
                    <p>
                        The easiest way to learn more about <em>Müzikus.</em>
                        <span>Register now with your Sabancı email.</span>
                    </p>
                </div>
                <div class="col-lg-4">
                    <div class="get-started">
                        <%= link_to "Login Now!", '/auth/google_oauth2', id: "sign_in", class: "btn btn-lg btn-primary" %>
                        <div class="learn-more">or <%= link_to "see all Muzikus events!", events_path, style:"color: #0099e6;" %></div>
                    </div>
                </div>
            </div>

        </div>
    </div>


        <div class="container">

            <div class="row center">
                <div class="span12">
                    <h2 class="short">Müzikus <strong>Web Page</strong> is completely redesigned.</h2>
                </div>
            </div>

        </div>

        <section class="mt-none mb-xl">

            <div class="home-concept appear-animation" data-appear-animation="fadeIn" data-appear-animation-delay="500">
                <svg class="home-concept-bg" x="0px" y="0px" width="345px" height="93px" viewBox="0 0 345 83" enable-background="new 0 0 345 93" xml:space="preserve">
                    <image overflow="visible" width="26" height="39" xlink:href="img/home-concept-pin.png" transform="matrix(0.169 0.1308 -0.1308 0.169 339.8496 0.6826)" class="final-pin appear-animation" data-appear-animation="animated-pin" data-appear-animation-delay="3650">
                    </image>
                    <path class="line appear-animation" fill="none" stroke="#6f6f6f" stroke-width="0.25" stroke-miterlimit="0" stroke-dasharray="0" data-appear-animation="animated-line" data-appear-animation-duration="4s" d="M7.086,87.455c8.133-8.646,54.247-51.634,155.173-36.766C268.762,66.38,327.34,17.642,337.992,10.241"/>
                    <path fill="none" stroke="#FFF" stroke-width="0.50" stroke-miterlimit="10" stroke-dasharray="1,2.5" d="M7.086,87.455c8.133-8.646,54.247-51.634,155.173-36.766C268.762,66.38,327.34,17.642,337.992,10.241"/>
                    <image overflow="visible" width="26" height="39" xlink:href="img/home-concept-pin.png" transform="matrix(0.2137 0 0 0.2137 1 81.5898)" class="initial-pin appear-animation" data-appear-animation="animated-pin">
                    </image>
                </svg>
                <div class="container">

                    <div class="row center">
                        <span class="sun"></span>
                        <span class="cloud"></span>
                        <div class="col-md-2 col-md-offset-1">
                            <div class="process-image">
                                <div class="box-image">
                                    <svg class="small-circle" x="0px" y="0px" width="39px" height="39px" viewBox="0 0 39 39" enable-background="new 0 0 39 39" xml:space="preserve">
                                        <circle class="line appear-animation" fill="#FFF" stroke="#6f6f6f" stroke-width="0.25" stroke-miterlimit="0" stroke-dasharray="0" data-appear-animation="animated-line" data-appear-animation-delay="800" cx="19.5" cy="19.5" r="19.063"/>
                                        <circle fill="none" stroke="#FFF" stroke-width="0.50" stroke-miterlimit="10" stroke-dasharray="1,2.5" cx="19.5" cy="19.5" r="19.063"/>
                                    </svg>
                                    <img src="img/home-concept-item-1.png" alt="" class="appear-animation" data-appear-animation="zoomIn" data-appear-animation-duration="300" data-appear-animation-delay="1400" />
                                </div>
                                <strong class="appear-animation" data-appear-animation="fadeInDown" data-appear-animation-delay="1150" data-plugin-options="{'accY': 200}">Register</strong>
                            </div>
                        </div>
                        <div class="col-md-2">
                            <div class="process-image">
                                <div class="box-image">
                                    <svg class="small-circle" x="0px" y="0px" width="39px" height="39px" viewBox="0 0 39 39" enable-background="new 0 0 39 39" xml:space="preserve">
                                        <circle class="line appear-animation" fill="#FFF" stroke="#6f6f6f" stroke-width="0.25" stroke-miterlimit="0" stroke-dasharray="0" data-appear-animation="animated-line" data-appear-animation-delay="1200" cx="19.5" cy="19.5" r="19.063"/>
                                        <circle fill="none" stroke="#FFF" stroke-width="0.50" stroke-miterlimit="10" stroke-dasharray="1,2.5" cx="19.5" cy="19.5" r="19.063"/>
                                    </svg>
                                    <img src="img/home-concept-item-2.png" alt="" class="appear-animation" data-appear-animation="zoomIn" data-appear-animation-duration="300" data-appear-animation-delay="1900" />
                                </div>
                                <strong class="appear-animation" data-appear-animation="fadeInDown" data-appear-animation-delay="2150" data-plugin-options="{'accY': 200}">Reserve</strong>
                            </div>
                        </div>
                        <div class="col-md-2">
                            <div class="process-image">
                                <div class="box-image">
                                    <svg class="small-circle" x="0px" y="0px" width="39px" height="39px" viewBox="0 0 39 39" enable-background="new 0 0 39 39" xml:space="preserve">
                                        <circle class="line appear-animation" fill="#FFF" stroke="#6f6f6f" stroke-width="0.25" stroke-miterlimit="0" stroke-dasharray="0" data-appear-animation="animated-line" data-appear-animation-delay="1700" cx="19.5" cy="19.5" r="19.063"/>
                                        <circle fill="none" stroke="#FFF" stroke-width="0.50" stroke-miterlimit="10" stroke-dasharray="1,2.5" cx="19.5" cy="19.5" r="19.063"/>
                                    </svg>
                                    <img src="img/home-concept-item-3.png" alt="" class="appear-animation" data-appear-animation="zoomIn" data-appear-animation-duration="300" data-appear-animation-delay="2400" />
                                </div>
                                <strong class="appear-animation" data-appear-animation="fadeInDown" data-appear-animation-delay="2650" data-plugin-options="{'accY': 200}">Play</strong>
                            </div>
                        </div>
                        <div class="col-md-4 col-md-offset-1">
                            <div class="project-image">
                                <div class="box-image">
                                    <svg class="big-circle" x="0px" y="0px" width="85px" height="85px" viewBox="0 0 85 85" enable-background="new 0 0 85 85" xml:space="preserve">
                                        <circle class="line appear-animation" fill="#FFF" stroke="#6f6f6f" stroke-width="0.25" stroke-miterlimit="0" stroke-dasharray="0" data-appear-animation="animated-line" data-appear-animation-delay="2250" cx="42.5" cy="42.5" r="42.063"/>
                                        <circle fill="none" stroke="#FFF" stroke-width="0.50" stroke-miterlimit="10" stroke-dasharray="1,2.5" cx="42.5" cy="42.5" r="42.063"/>
                                    </svg>
                                    <div id="fcSlideshow" class="fc-slideshow appear-animation" data-appear-animation="zoomIn" data-appear-animation-duration="300" data-appear-animation-delay="2900">
                                        <ul class="fc-slides">
                                            <li><img class="img-responsive" src="img/home-concept-item-4.png" alt="" /></li>
                                            <li><img class="img-responsive" src="img/home-concept-item-5.png" alt="" /></li>
                                            <li><img class="img-responsive" src="img/home-concept-item-6.png" alt="" /></li>
                                            <li><img class="img-responsive" src="img/home-concept-item-7.png" alt="" /></li>
                                        </ul>
                                    </div>
                                </div>
                                <strong class="our-work appear-animation" data-appear-animation="fadeInDown" data-appear-animation-delay="3150" data-plugin-options="{'accY': 300}">Perform</strong>
                            </div>
                        </div>
                    </div>

                </div>
                <hr class="tall" />
            </div>

        </section>

        <div class="container">

            <div class="row">
                <div class="col-lg-8 col-md-8">
                    <h2><strong>Features</strong></h2>
                    <div class="row">
                        <div class="col-lg-6 col-md-6">
                        <div class="feature-box">
                                <div class="feature-box-icon">
                                    <i class="fa fa-google-plus"></i>
                                </div>
                                <div class="feature-box-info">
                                    <h4 class="shorter">Google Login</h4>
                                    <p class="tall">You won't forget about your reservation anymore. Just login with your Sabancı email.</p>
                                </div>
                            </div>


                            <div class="feature-box">
                                <div class="feature-box-icon">
                                    <i class="fa fa-file"></i>
                                </div>
                                <div class="feature-box-info">
                                    <h4 class="shorter">Cross Browser Compatibility</h4>
                                    <p class="tall">Muzikus Alfonso works perfectly with every browser and mobile device.</p>
                                </div>
                            </div>


                        </div>
                        <div class="col-lg-6 col-md-6">
                        <div class="feature-box">
                                <div class="feature-box-icon">
                                    <i class="fa fa-check"></i>
                                </div>
                                <div class="feature-box-info">
                                    <h4 class="shorter">Share</h4>
                                    <p class="tall">Share your reservation and Scout information easily with your friends.</p>
                                </div>
                            </div>
                            <div class="feature-box">
                                <div class="feature-box-icon">
                                    <i class="fa fa-group"></i>
                                </div>
                                <div class="feature-box-info">
                                    <h4 class="shorter">Security</h4>
                                    <p class="tall">User information is encrypted with AES-256 encryption algorithm.</p>
                                </div>
                            </div>


                        </div>
                    </div>
                </div>
                <div class="col-lg-4 col-md-4">
                    <h2>who are we?</h2>
                    <div class="panel-group panel-group-sm" id="accordion">
                        <div class="panel panel-default">
                            <div class="panel-heading">
                                <h4 class="panel-title">
                                    <a class="accordion-toggle" data-toggle="collapse" data-parent="#accordion" href="#collapse1One">
                                        <i class="fa fa-lightbulb-o"></i> Presidency
                                    </a>
                                </h4>
                            </div>
                            <div id="collapse1One" class="accordion-body collapse in">
                                <div class="panel-body">
                                    <strong>Onur Sinan Toğrul</strong>, President<br>
                                </div>
                            </div>
                        </div>
                        <div class="panel panel-default">
                            <div class="panel-heading">
                                <h4 class="panel-title">
                                    <a class="accordion-toggle" data-toggle="collapse" data-parent="#accordion" href="#collapse1Two">
                                       <i class="fa fa-bell"></i> MYK
                                    </a>
                                </h4>
                            </div>
                            <div id="collapse1Two" class="accordion-body collapse">
                                <div class="panel-body">
                                    <strong>Can Farsak, Canberk Taşkın</strong>, Vice Presidents
                                </div>
                            </div>
                        </div>
                        <div class="panel panel-default">
                            <div class="panel-heading">
                                <h4 class="panel-title">
                                    <a class="accordion-toggle" data-toggle="collapse" data-parent="#accordion" href="#collapse1Three">
                                       <i class="fa fa-laptop"></i> Developer
                                    </a>
                                </h4>
                            </div>
                            <div id="collapse1Three" class="accordion-body collapse">
                                <div class="panel-body">
                                    <strong>Yagiz Nizipli</strong>, Developer
                                    <br>
                                    <strong>Atakan Yenel</strong>, Developer
                                    <br>
                                    <strong>Sinan Topaloglu</strong>, Developer
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <hr class="tall" />

            <div class="row center">
                <div class="span12">
                    <h2 class="short">Muzikus <strong>Community</strong></h2>
                    <h4 class="lead tall">Since 1999, our community has grown exponentially.</h4>
                </div>
            </div>


        </div>
    
</div>