<div role="main" class="main">
    <div class="slider-container rev_slider_wrapper" style="height: 700px;">
        <div id="revolutionSlider" class="slider rev_slider" data-version="5.4.8" data-plugin-revolution-slider data-plugin-options="{'delay': 9000, 'gridwidth': 1170, 'gridheight': 670, 'disableProgressBar': 'on', 'responsiveLevels': [4096,1200,992,500], 'parallax': { 'type': 'scroll', 'origo': 'enterpoint', 'speed': 1000, 'levels': [2,3,4,5,6,7,8,9,12,50], 'disable_onmobile': 'on' }, 'navigation' : {'arrows': { 'enable': true }, 'bullets': {'enable': true, 'style': 'bullets-style-1', 'h_align': 'center', 'v_align': 'bottom', 'space': 7, 'v_offset': 70, 'h_offset': 0}}}">
            <ul>
                <li data-transition="fade">
                    <img src="img/slides/slide-bg.jpg"  
                        alt=""
                        data-bgposition="center center" 
                        data-bgfit="cover" 
                        data-bgrepeat="no-repeat" 
                        class="rev-slidebg">
    
                    <div class="tp-caption tp-resizeme"
                        data-frames='[{"delay":3000,"speed":2000,"frame":"0","from":"opacity:0;x:right;y:-100%;","to":"o:1;x:300;y:0;","ease":"Power3.easeInOut"},{"delay":"wait","speed":300,"frame":"999","to":"opacity:0;fb:0;","ease":"Power3.easeInOut"}]'
                        data-type="image" 
                        data-x="center"
                        data-y="center"
                        data-width="['auto']"
                        data-height="['auto']"
                        data-basealign="slide"><iframe width="500" height="300" src="https://www.youtube.com/embed/MFMUWCFXXsg" frameborder="0" allowfullscreen></iframe></div>
    
                    <div class="tp-caption tp-resizeme"
                        data-frames='[{"delay":1500,"speed":2000,"frame":"0","from":"opacity:0;x:left;y:-100%;","to":"o:1;x:-300;y:0;","ease":"Power3.easeInOut"},{"delay":"wait","speed":300,"frame":"999","to":"opacity:0;fb:0;","ease":"Power3.easeInOut"}]'
                        data-type="image" 
                        data-x="center"
                        data-y="bottom"
                        data-width="['auto']"
                        data-height="['auto']"
                        data-basealign="slide"><img src="img/slides/slide-concept.png" alt=""></div>
    
                    
                    
                </li>
            </ul>
        </div>
    </div>
    
    <div class="home-intro">
        <div class="container">

            <div class="row align-items-center">
                <div class="col-lg-8">
                    <p>
                        The easiest way to learn more about <span class="highlighted-word">Müzikus.</span>
                        <span>Register now with your Sabancı email.</span>
                    </p>
                </div>
                <div class="col-lg-4">
                    <div class="get-started text-left text-lg-right">
                        <%= link_to "Login Now!", '/auth/google_oauth2', id: "sign_in", class: "btn btn-dark btn-lg text-3 font-weight-semibold px-4 py-3" %>
                        <div class="learn-more">or <%= link_to "see all Muzikus events!", events_path, style:"color: #0099e6;" %></div>
                    </div>
                </div>
            </div>

        </div>
    </div>

    <div class="container">

        <div class="row text-center pt-3">
            <div class="col-md-10 mx-md-auto">
                <h2 class="short">Müzikus <strong>Web Page</strong> is completely redesigned.</h2>
            </div>
        </div>

    </div>

    <div class="appear-animation" data-appear-animation="fadeInUpShorter" data-appear-animation-delay="200">
        <div class="home-concept mt-5">
            <div class="container">

                <div class="row text-center">
                    <span class="sun"></span>
                    <span class="cloud"></span>
                    <div class="col-lg-2 ml-lg-auto">
                        <div class="process-image">
                            <img src="img/home-concept-item-1.png" alt="" />
                            <strong>Register</strong>
                        </div>
                    </div>
                    <div class="col-lg-2">
                        <div class="process-image process-image-on-middle">
                            <img src="img/home-concept-item-2.png" alt="" />
                            <strong>Reserve</strong>
                        </div>
                    </div>
                    <div class="col-lg-2">
                        <div class="process-image">
                            <img src="img/home-concept-item-3.png" alt="" />
                            <strong>Play</strong>
                        </div>
                    </div>
                    <div class="col-lg-4 ml-lg-auto">
                        <div class="project-image">
                            <div id="fcSlideshow" class="fc-slideshow">
                                <ul class="fc-slides">
                                    <li><img class="img-responsive" src="img/home-concept-item-4.png" alt="" /></li>
                                    <li><img class="img-responsive" src="img/home-concept-item-5.png" alt="" /></li>
                                    <li><img class="img-responsive" src="img/home-concept-item-6.png" alt="" /></li>
                                    <li><img class="img-responsive" src="img/home-concept-item-7.png" alt="" /></li>
                                </ul>
                            </div>
                            <strong class="our-work">Perform</strong>
                        </div>
                    </div>
                </div>

            </div>
        </div>
    </div>
    
    <div class="container mb-5 pb-4">

         <div class="row">
            <div class="col mb-4">
                <hr class="my-5">
            </div>
        </div>

        <div class="row pb-3">
            <div class="col-lg-8">
                <h2><strong>Features</strong></h2>
                <div class="row">
                    <div class="col-sm-6">
                        <div class="feature-box feature-box-style-2">
                            <div class="feature-box-icon">
                                <i class="fab fa-google-plus-g text-color-primary"></i>
                            </div>
                            <div class="feature-box-info">
                                <h4 class="font-weight-bold text-4 mb-0">Google Login</h4>
                                <p class="mb-4">You won't forget about your reservation anymore. Just login with your Sabancı email.</p>
                            </div>
                        </div>


                        <div class="feature-box feature-box-style-2">
                            <div class="feature-box-icon">
                                <i class="fa fa-file text-color-primary"></i>
                            </div>
                            <div class="feature-box-info">
                                <h4 class="font-weight-bold text-4 mb-0">Cross Browser Compatibility</h4>
                                <p class="mb-4">Muzikus Alfonso works perfectly with every browser and mobile device.</p>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-6">
                        <div class="feature-box feature-box-style-2">
                            <div class="feature-box-icon">
                                <i class="fa fa-check text-color-primary"></i>
                            </div>
                            <div class="feature-box-info">
                                <h4 class="font-weight-bold text-4 mb-0">Share</h4>
                                <p class="mb-4">Share your reservation and Scout information easily with your friends.</p>
                            </div>
                        </div>
                        <div class="feature-box feature-box-style-2">
                            <div class="feature-box-icon">
                                <i class="fa fa-key text-color-primary"></i>
                            </div>
                            <div class="feature-box-info">
                                <h4 class="font-weight-bold text-4 mb-0">Security</h4>
                                <p class="mb-4">User information is encrypted with AES-256 encryption algorithm.</p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-lg-4">
                <h2 class="font-weight-normal text-6">who are we?</h2>

                <div class="accordion accordion-modern" id="accordion">
                    <div class="card card-default">
                        <div class="card-header">
                            <h4 class="card-title m-0">
                                <a class="accordion-toggle text-color-primary font-weight-bold" data-toggle="collapse" data-parent="#accordion" href="#collapse1One">
                                    <i class="far fa-lightbulb"></i> Presidency
                                </a>
                            </h4>
                        </div>
                        <div id="collapse1One" class="collapse show">
                            <div class="card-body text-2">
                                <strong>Deniz Onural</strong>, President<br>
                            </div>
                        </div>
                    </div>
                    <div class="card card-default">
                        <div class="card-header">
                            <h4 class="card-title m-0">
                                <a class="accordion-toggle text-color-primary font-weight-bold" data-toggle="collapse" data-parent="#accordion" href="#collapse1Two">
                                    <i class="far fa-bell"></i> MYK
                                </a>
                            </h4>
                        </div>
                        <div id="collapse1Two" class="collapse">
                            <div class="card-body text-2">
                                <strong>Batuhan Demir</strong>, Vice Presidents
                            </div>
                        </div>
                    </div>
                    <div class="card card-default">
                        <div class="card-header">
                            <h4 class="card-title m-0">
                                <a class="accordion-toggle text-color-primary font-weight-bold" data-toggle="collapse" data-parent="#accordion" href="#collapse1Three">
                                    <i class="fas fa-laptop"></i> Developer
                                </a>
                            </h4>
                        </div>
                        <div id="collapse1Three" class="collapse">
                            <div class="card-body text-2">
                                <strong>Yagiz Nizipli</strong>, Developer
                                <br>
                                <strong>Atakan Yenel</strong>, Developer
                                <br>
                                <strong>Sinan Topaloglu</strong>, Developer
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <hr class="solid my-5" />

    </div>

    <div class="row text-center pt-4">
        <div class="col">
            <h2 class="short">Muzikus <strong>Community</strong></h2>
            <h4 class="lead tall">Since 1999, our community has grown exponentially.</h4>
        </div>
    </div>
    
</div>