<div role="main" class="main">

	<section class="page-top">
		<div class="container">
			<div class="row">
				<div class="span12">
					<ul class="breadcrumb">
						<li><%= link_to "Home", root_path %> <span class="divider">/</span></li>
						<li class="active">Projects</li>
					</ul>
				</div>
			</div>
			<div class="row">
				<div class="span12">
					<h2>Current Projects</h2>
				</div>
			</div>
		</div>
	</section>

	<div class="container">


		<h2>Ritmus</h2>

		<div class="row">
			<div class="span12">
				<p>
					Ritmus is the rhythm band which performs in different spots of our university, some of them are organized in advance some of them are happening spontaneously. The instruments which Ritmus band is using is not only average percussion instruments but also objects which make unique sounds and sometimes even instruments created by the members themselves. Moreover this project which gives us the freedom to use the environment itself to make sounds as long as it has the rhythm of our hearts.	</p>
			</div>

		</div>

		<h2>KoroSU</h2>

		<div class="row">
			<div class="span12">
				<p>
					KoroSU is a choir project founded in 2004 under Müzikus. The choir is a group of Sopranos, Altos, Tenors and Basses. The songs are chosen heavily from the Pop and Rock category. During the year, KoroSU performs in several concerts. The entrance to the choir requires a little examination by the instructor that they will work with the entire year. This year's instructor is Nihan Demirkapı and you can also enter KoroSU's orchestra with your musical instrument.
				</p>
			</div>

		</div>

		<h2>Müzikus Ensemble</h2>

		<div class="row">
			<div class="span12">
				<p>
					Founded in 2012 by Müzikus, the ensemble project is a band project which is made of several members with different types of instruments. One or two bands are formed and throughout the year these bands are guided by instructors who are masters of their line of work. Ensemble works around Jazz, Fusion and Funk. This years instructors are Genco Arı and Orçun Tekelioğlu. To enter the project you will also enter auditions lead by these musicians. Throughout the year Ensemble will give you opportunities to perform on different stages including outside of the university.

				</p>
			</div>

		</div>

		<h2>Old Projects</h2>

		<div class="row">
			<div class="span12">
				<p>
					Phonius
					<br>
					Neşeli Günler Kumpanyası
					<br>
					Legends of Rock
					<br>
					Türkçe Rock
					<br>
					İtiraf Ediyoruz Biz Bu Şarkıları Seviyoruz
					<br>
					Avam Garde
					<br>
					Devasaz
					<br>
					Adam Olacak Çocuklar
					<br>
					Türk Sanat Müziği Korosu
					<br>
					Pink Floyd Tribute: "Is There Anybody Out There?"
					<br>
					Rollover - Hard Rock Kronolojisi 
					<br>
					Sahara Dust: A Tribute to Epica
					<br>
					Sanitarium - Metallica Tribute
				</p>
			</div>

		</div>



	</div>

</div>
