<div role="main" class="main">

	<section class="page-top">
		<div class="container">
			<div class="row">
				<div class="span12">
					<ul class="breadcrumb">
						<li><%= link_to "Home", root_path %> <span class="divider">/</span></li>
						<li class="active">Projects</li>
					</ul>
				</div>
			</div>
			<div class="row">
				<div class="span12">
					<h2>Current Projects</h2>
				</div>
			</div>
		</div>
	</section>

	<div class="container">

		<h2>Phonius</h2>

		<div class="row">
			<div class="span12">
				<p>
					Phonius is the ‘a cappella’ music choir of Sabanci University. Founded in 2007 as a musical project of Muzikus with the name Classical Choir, they underwent a change in musical direction and name to embrace different sounds including jazz, soul and gospel, while maintaining their initial direction in Classical and sacred music with Turkish folk songs and religious music. It’s a lovely tradition for Sabanci University students to enjoy the choir’s performance on every Christmas, in Information Center, in campus. Also since 2007, the choir performed in various choir festivals and school events in Istanbul.
				</p>
			</div>
			
		</div>
		
		<h2>Ritmus</h2>

		<div class="row">
			<div class="span12">
				<p>
					Muzikus Polyphonic Rock and Pop Choir: KoroSU, founded in 2004, one of the oldest projects of Muzikus. Every year KoroSU performs on Sabanci Performing Arts Centre and amuses its audience with its themed concerts. The choir has a wide range of songs in its repertoire, Turkish and English, from old classics to contemporary popular songs.  
				</p>
			</div>
			
		</div>
		
		<h2>KoroSU</h2>

		<div class="row">
			<div class="span12">
				<p>
					Muzikus Polyphonic Rock and Pop Choir: KoroSU, founded in 2004, one of the oldest projects of Muzikus. Every year KoroSU performs on Sabanci Performing Arts Centre and amuses its audience with its themed concerts. The choir has a wide range of songs in its repertoire, Turkish and English, from old classics to contemporary popular songs.  

				</p>
			</div>
			
		</div>
		
		<h2>Müzikus Ensemble</h2>

		<div class="row">
			<div class="span12">
				<p>
					Coming soon.

				</p>
			</div>
			
		</div>
		
		<h2>Old Projects</h2>

		<div class="row">
			<div class="span12">
				<p>
					Neşeli Günler Kumpanyası
					<br>
					Legends of Rock
					<br>
					Türkçe Rock
					<br>
					İtiraf Ediyoruz Biz Bu Şarkıları Seviyoruz
					<br>
					Avam Garde
					<br>
					Devasaz
					<br>
					Adam Olacak Çocuklar
					<br>
					Türk Sanat Müziği Korosu
					<br>
					Pink Floyd Tribute: "Is There Anybody Out There?"
					<br>
					Rollover - Hard Rock Kronolojisi 
					<br>
					Sahara Dust: A Tribute to Epica
					<br>
					Sanitarium - Metallica Tribute
				</p>
			</div>
			
		</div>
		
		
		
	</div>

</div>