<div role="main" class="main">
    <div class="slider-container rev_slider_wrapper" style="height: 700px;">
        <div id="revolutionSlider" class="slider rev_slider" data-version="5.4.8" data-plugin-revolution-slider data-plugin-options="{'delay': 9000, 'gridwidth': 1170, 'gridheight': 670, 'disableProgressBar': 'on', 'responsiveLevels': [4096,1200,992,500], 'parallax': { 'type': 'scroll', 'origo': 'enterpoint', 'speed': 1000, 'levels': [2,3,4,5,6,7,8,9,12,50], 'disable_onmobile': 'on' }, 'navigation' : {'arrows': { 'enable': true }, 'bullets': {'enable': true, 'style': 'bullets-style-1', 'h_align': 'center', 'v_align': 'bottom', 'space': 7, 'v_offset': 70, 'h_offset': 0}}}">
            <ul>
                <li data-transition="fade">
                    <img src="img/slides/slide-bg.jpg"  
                        alt=""
                        data-bgposition="center center" 
                        data-bgfit="cover" 
                        data-bgrepeat="no-repeat" 
                        class="rev-slidebg">
    
                    <div class="tp-caption tp-resizeme"
                        data-frames='[{"delay":3000,"speed":2000,"frame":"0","from":"opacity:0;x:right;y:-100%;","to":"o:1;x:300;y:0;","ease":"Power3.easeInOut"},{"delay":"wait","speed":300,"frame":"999","to":"opacity:0;fb:0;","ease":"Power3.easeInOut"}]'
                        data-type="image" 
                        data-x="center"
                        data-y="center"
                        data-width="['auto']"
                        data-height="['auto']"
                        data-basealign="slide"><iframe width="500" height="300" src="https://www.youtube.com/embed/MFMUWCFXXsg" frameborder="0" allowfullscreen></iframe></div>
    
                    <div class="tp-caption tp-resizeme"
                        data-frames='[{"delay":1500,"speed":2000,"frame":"0","from":"opacity:0;x:left;y:-100%;","to":"o:1;x:-300;y:0;","ease":"Power3.easeInOut"},{"delay":"wait","speed":300,"frame":"999","to":"opacity:0;fb:0;","ease":"Power3.easeInOut"}]'
                        data-type="image" 
                        data-x="center"
                        data-y="bottom"
                        data-width="['auto']"
                        data-height="['auto']"
                        data-basealign="slide"><img src="img/slides/slide-concept.png" alt=""></div>
                </li>
            </ul>
        </div>
    </div>
    
    <div class="home-intro">
        <div class="container">

            <div class="row align-items-center">
                <div class="col-lg-8">
                    <p>
                        The easiest way to learn more about <span class="highlighted-word">M端zikus.</span>
                        <span>You are logged in.</span>
                    </p>
                </div>
                <div class="col-lg-4">
                    <div class="get-started text-left text-lg-right">
                        <%= link_to "Reserve Now!", reservations_path, class: "btn btn-dark btn-lg text-3 font-weight-semibold px-4 py-3" %>
                        <div class="learn-more">or <%= link_to "see all Muzikus events!", events_path, style:"color: #0099e6;" %></div>
                    </div>
                </div>
            </div>

        </div>
    </div>

    <div class="container">

        <div class="row text-center pt-3">
            <div class="col-md-10 mx-md-auto">
                <h2 class="short">Welcome to <strong>M端zikus</strong>, mate!</h2>
					<p class="featured lead">
						Since you are a M端zikus member, you can reserve your spot at M端zikus studios!
					</p>
            </div>
        </div>

    </div>

    <div class="appear-animation" data-appear-animation="fadeInUpShorter" data-appear-animation-delay="200">
        <div class="home-concept mt-5">
            <div class="container">

                <div class="row text-center">
                    <span class="sun"></span>
                    <span class="cloud"></span>
                    <div class="col-lg-2 ml-lg-auto">
                        <div class="process-image">
                            <img src="img/home-concept-item-1.png" alt="" />
                            <strong>Register</strong>
                        </div>
                    </div>
                    <div class="col-lg-2">
                        <div class="process-image process-image-on-middle">
                            <img src="img/home-concept-item-2.png" alt="" />
                            <strong>Reserve</strong>
                        </div>
                    </div>
                    <div class="col-lg-2">
                        <div class="process-image">
                            <img src="img/home-concept-item-3.png" alt="" />
                            <strong>Play</strong>
                        </div>
                    </div>
                    <div class="col-lg-4 ml-lg-auto">
                        <div class="project-image">
                            <div id="fcSlideshow" class="fc-slideshow">
                                <ul class="fc-slides">
                                    <li><img class="img-responsive" src="img/home-concept-item-4.png" alt="" /></li>
                                    <li><img class="img-responsive" src="img/home-concept-item-5.png" alt="" /></li>
                                    <li><img class="img-responsive" src="img/home-concept-item-6.png" alt="" /></li>
                                    <li><img class="img-responsive" src="img/home-concept-item-7.png" alt="" /></li>
                                </ul>
                            </div>
                            <strong class="our-work">Perform</strong>
                        </div>
                    </div>
                </div>

            </div>
        </div>
    </div>
</div>