<div role="main" class="main">
				<div id="content" class="content full">

					<div class="slider-container">
						<div class="slider" id="revolutionSlider">
							<ul>
								<li data-transition="fade" data-slotamount="10" data-masterspeed="300">
									<img src="img/slides/slide-bg.jpg" data-fullwidthcentering="on" alt="">
											 
							

										
										<div class="caption fade"
											 data-x="0"
											 data-y="70"
											 data-speed="500"
											 data-start="100"
											 data-easing="easeOutExpo"><img src="img/slides/slide-concept.png" alt=""></div>
											 <div class="caption fade"
											data-x="500"
											data-y="100"
											data-speed="500"
											data-start="1000"
											data-easing="easeOutExpo"><iframe width="500" height="300" src="https://www.youtube.com/embed/MFMUWCFXXsg" frameborder="0" allowfullscreen></iframe></div>



								</li>
							</ul>

						</div>
					</div>

					<div class="home-intro">
						<div class="container">

							<div class="row">
								<div class="span8">
									<p>
										The easiest way to learn more about <em>M端zikus.</em>
										<span>You are logged in.</span>
									</p>
								</div>
								<div class="span4">
									<div class="get-started">
										<%= link_to "Reserve Now!", new_reservation_path, class: "btn btn-large btn-primary" %>
										<div class="learn-more">or <%= link_to "see all reservations", reservation_path %></div>
									</div>
								</div>
							</div>
						</div>
					</div>

					<div class="container">

						<div class="row center">
							<div class="span12">
								<h2 class="short">Welcome to <strong>M端zikus</strong>, mate!</h2>
								<p class="featured lead">
									Since you are a M端zikus member, you can reserve your spot at M端zikus studios!
								</p>
							</div>
						</div>

					</div>

					<div class="home-concept">
						<div class="container">

							<div class="row center">
								<span class="sun"></span>
								<span class="cloud"></span>
								<div class="span2 offset1">
									<div class="process-image">
										<img src="img/home-concept-item-1.png" alt="" />
									</div>
									<span class="shadow"></span>
									<strong>Register</strong>
								</div>
								<div class="span2">
									<div class="process-image">
										<img src="img/home-concept-item-2.png" alt="" />
									</div>
									<span class="shadow"></span>
									<strong>Reserve</strong>
								</div>
								<div class="span2">
									<div class="process-image">
										<img src="img/home-concept-item-3.png" alt="" />
									</div>
									<span class="shadow"></span>
									<strong>Play</strong>
								</div>
								<div class="span4 offset1">
									<div class="project-image">
										<div id="fcSlideshow" class="fc-slideshow">
											<ul class="fc-slides">
												<li><a href="#"><img src="img/projects/homepage-1.png" /></a></li>
												<li><a href="#"><img src="img/projects/homepage-2.png" /></a></li>
												<li><a href="#"><img src="img/projects/homepage-3.png" /></a></li>
												<li><a href="#"><img src="img/projects/homepage-4.png" /></a></li>
											</ul>
										</div>
									</div>
									<span class="shadow big"></span>
									<strong class="our-work">Perform</strong>
								</div>
							</div>

							<hr class="tall" />

						</div>
					</div>

					
				</div>
			</div>