<div class="bg-white">
	<div class="max-w-7xl mx-auto py-16 px-4 sm:py-24 sm:px-6 lg:px-8">
		<h2 class="text-4xl font-extrabold text-gray-900 sm:text-5xl sm:tracking-tight lg:text-6xl">Faculty Teachers</h2>
    <p class="mt-5 text-xl text-gray-500">Muzikus Faculty aims to create an environment that makes it easier and more entertaining to learn music for the university students. The music lessons provided by the faculty are listed below. If you need information about an instructor or a lesson, you can reach the contact related to that lesson.</p>
	</div>
</div>

<div role="main" class="main">
	<!-- start: Breadcrumb-->
	<section class="page-header page-header-modern bg-color-dark-scale-5 page-header-md">
		<div class="container">
			<div class="row">

				<div class="col-md-12 align-self-center p-static order-2 text-left">

					<h1 class="text-light font-weight-bold text-8">Faculty Teachers</h1>
					<span class="sub-title text-dark-scale-1"></span>

				</div>

				<div class="col-md-12 align-self-center order-1">

					<ul class="breadcrumb d-block text-left">
						<li><a href="/">Home</a></li>
						<li>Music</li>
						<li>Faculty</li>
					</ul>
					
				</div>
				
			</div>
		</div>
	</section>
	<!-- end: Breadcrumb-->

	<div class="container">
		<div class="row">
			<% @teachers.each do |item| %>
				<% if not item.bio.nil? %>
					<div class="col-md-4">
						<div class="featured-boxes featured-boxes-style-8">
							<div class="featured-box featured-box-quaternary featured-box-text-left">
								<div class="box-content">
									<div class="row">
										<div class="col-md-12 col-sm-12 col-xs-12 mb-md">
											<h4><%= item.name %></h4>
										</div>
										<div class="col-md-12">
											<b>Bio:</b><br>
											<%= item.bio %>
										</div>
									</div>
								</div>
							</div>
						</div>
					</div>
				<% end %>
			<% end %>
		</div>
	</div>
</div>
