<header id="header" data-plugin-options="{'stickyEnabled': true, 'stickyEnableOnBoxed': true, 'stickyEnableOnMobile': true, 'stickyStartAt': 57, 'stickySetTop': '-57px', 'stickyChangeLogo': true}">
    <div class="header-body">
        <div class="header-container container">
            <div class="header-row">
                <div class="header-column">
                    <div class="header-row">
                        <div class="header-logo">
                            <a href="/">
                                <img alt="Muzikus" width="70" height="70" data-sticky-width="40" data-sticky-height="40" data-sticky-top="40" src="/img/logo.png">
                            </a>
                        </div>
                    </div>
                </div>
                <div class="header-column justify-content-end">
                    <div class="header-row pt-3">
                        <nav class="header-nav-top">
                            <ul class="nav nav-pills">
                                <li class="nav-item nav-item-anim-icon d-none d-md-block">
                                    <a class="nav-link pl-0" href="/howto"><i class="fas fa-angle-right"></i> How To?</a>
                                </li>
                                <li class="nav-item nav-item-anim-icon d-none d-md-block">
                                    <a class="nav-link" href="/contactus"><i class="fas fa-angle-right"></i> Contact Us</a>
                                </li>
                                <li class="nav-item nav-item-left-border nav-item-left-border-remove nav-item-left-border-md-show">
                                    <% if current_user %>
                                        <a class="nav-link" href="/sign_out"><i class="fas fa-angle-right"></i> Log Out, <%= current_user.name.split(' ')[0] %></a>
                                    <% else %>
                                        <% link_to 'Register/Login', '/auth/google_oauth2', method: :post, class: 'nav-link' %>
                                    <% end %>
                                </li>
                            </ul>
                        </nav>
                    </div>
                    <div class="header-row">
                        <div class="header-nav pt-1">
                            <!-- start: Navbar-->
                            <%= render partial: '/layouts/components/application_navbar' %>
                            <!-- end: Navbar-->										
                            <ul class="header-social-icons social-icons d-none d-sm-block">
                                <li class="social-icons-facebook"><a href="http://www.facebook.com/muzikus" target="_blank" title="Facebook"><i class="fab fa-facebook-f"></i></a></li>
                                <li class="social-icons-instagram"><a href="http://www.instagram.com/muzikussabanci" target="_blank" title="Instagram"><i class="fab fa-instagram"></i></a></li>
                                <li class="social-icons-youtube"><a href="https://www.youtube.com/user/MuzikusOfficial" target="_blank" title="YouTube"><i class="fab fa-youtube"></i></a></li>
                            </ul>
                            <button class="btn header-btn-collapse-nav" data-toggle="collapse" data-target=".header-nav-main nav">
                                <i class="fa fa-bars"></i>
                            </button>
                        </div>
                    </div> 
                </div>
            </div>
        </div>
    </div>
</header>
