<div role="main" class="main">
	<header class="page-header">
		<h2>Banned Users</h2>

		<!-- start: Breadcrumb area -->
		<div class="right-wrapper text-right">
			<ol class="breadcrumbs" style="margin-right: 50px;">
				<li>
					<a href="/">
						<i class="fas fa-home"></i>
					</a>
				</li>
				<li><span><a href="/admin">Admin</a></span></li>
				<li><span><a href="/admin/users">Users</a></span></li>
				<li><span>Banned</span></li>
			</ol>

			
		</div>
		<!-- end: Breadcrumb area -->
	</header>
    <div class="row">
        <h2>Come back later</h2>
    </div>
</div>