<meta name="google-signin-scope" content="profile email">
<meta name="google-signin-client_id" content="217324451483-usngrnt0f7o6441bocgqtqodmkj9s574.apps.googleusercontent.com">
<script src="https://apis.google.com/js/platform.js" async defer></script>

<div class="g-signin2" data-onsuccess="onSignIn" data-theme="dark"></div>
<div role="main" class="main" style="min-height: calc(100vh - 393px);">
    <div class="container">
        
        <div class="row">
            <div class="col">
                <hr class="solid my-5">
            </div>
        </div>
        <div class="row">
            <div class="col text-center">
                <div class="overflow-hidden mb-2">
                    <h2 class="font-weight-normal text-7 mb-0 appear-animation" data-appear-animation="maskUp"><strong class="font-weight-extra-bold">Maintenance Mode</strong></h2>
                </div>
                <div class="overflow-hidden mb-1">
                    <p class="lead mb-0 appear-animation" data-appear-animation="maskUp" data-appear-animation-delay="200">This page is undergoing some maintenance at this moment.<br>Please come back later.</p>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col">
                <hr class="solid my-5">
            </div>
        </div>
        <div class="row">
            <div class="col">
                <div class="row">
                    <div class="col-lg-4 appear-animation" data-appear-animation="fadeInLeftShorter" data-appear-animation-delay="600">
                        <div class="feature-box">
                            <div class="feature-box-icon">
                                <i class="far fa-life-ring"></i>
                            </div>
                            <div class="feature-box-info">
                                <h4 class="text-4 text-uppercase mb-1 font-weight-bold">Whats this about?</h4>
                                <p class="mb-4">Lorem ipsum dolor sit amet, consectetur adipiscing metus elit. Quisque rutrum pellentesque imperdiet. Quisque rutrum pellentesque imperdiet.</p>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-4 appear-animation" data-appear-animation="fadeIn" data-appear-animation-delay="400">
                        <div class="feature-box">
                            <div class="feature-box-icon">
                                <i class="far fa-clock"></i>
                            </div>
                            <div class="feature-box-info">
                                <h4 class="text-4 text-uppercase mb-1 font-weight-bold">Come back later</h4>
                                <p class="mb-4">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Quisque rutrum pellentesque imperdiet. Quisque rutrum pellentesque imperdiet. Nulla lacinia iaculis nulla.</p>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-4 appear-animation" data-appear-animation="fadeInRightShorter" data-appear-animation-delay="600">
                        <div class="feature-box">
                            <div class="feature-box-icon">
                                <i class="far fa-envelope"></i>
                            </div>
                            <div class="feature-box-info">
                                <h4 class="text-4 text-uppercase mb-1 font-weight-bold">Get in Touch</h4>
                                <p class="mb-4">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Quisque rutrum pellentesque imperdiet. Quisque rutrum pellentesque imperdiet. Nulla lacinia iaculis nulla.</p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<script>
    function onSignIn(googleUser) {
        // Useful data for your client-side scripts:
        var profile = googleUser.getBasicProfile();
        console.log("ID: " + profile.getId()); // Don't send this directly to your server!
        console.log('Full Name: ' + profile.getName());
        console.log('Given Name: ' + profile.getGivenName());
        console.log('Family Name: ' + profile.getFamilyName());
        console.log("Image URL: " + profile.getImageUrl());
        console.log("Email: " + profile.getEmail());

        // The ID token you need to pass to your backend:
        var id_token = googleUser.getAuthResponse().id_token;
        console.log("ID Token: " + id_token);
    }
</script>